<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">

		  
			
		  <p>&copy {{ site.time | date: '%Y' }}  TITANS Lab. </p>
              <p>We are part of the <a href="https://soc.siu.edu/">School of Computing</a> at <a href="https://siu.edu/">Southern Illinois University Carbondale</a>.</p>
              <p>Design inspired from <a href="https://www.allanlab.org/" target="_blank">Allan Lab.<i class="fa fa-external-link"></i></a></p>
            

		   <p>  </p><p>
            		  
            
		</div>



		<div class="col-sm-4">
		  Contact:<br />
		  Southern Illinois University Carbondale<br />
		  1263 Lincoln Drive<br />
		  Carbondale, Illinois 62901-6899, USA<br />
		  Phone: (618) 453-2121 <br />
            (<a href="https://maps.app.goo.gl/1yqBawNFoiHEd8Kn6">Maps</a>, <a href="https://siu.edu/contact-us/">Contacts and Directions</a>)
		</div>
	  </div>
	</div>
  </div>
</div>

<img src="/images/logopic/siuc.png" height="100" width="auto" class="rounded" alt="lab logo">


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>

