---
layout: default
---

<div id="homeid" class="col-sm-8">
  <div style="display: flex; align-items: flex-start; gap: 20px;">
    <!-- Logo on the left -->
    <img src="/images/logopic/home_logo.jpg" height="220" width="auto" class="rounded" alt="lab logo">

    <!-- Header and body text on the right -->
    <div>
      <h2 style="margin: 0;">Welcome to TITANS Lab!</h2>
      <p style="margin-top: 10px;">      <p>
  <ins><strong>T</strong></ins>ransformative <ins><strong>I</strong></ins>nnovation for <ins><strong>T</strong></ins>rustworthy <ins><strong>A</strong></ins>I and <ins><strong>N</strong></ins>etwork <ins><strong>S</strong></ins>ecurity (<strong>TITANS</strong>) lab is part of the Department of Computer Science at the
  <a href="https://siu.edu/" target="_blank">Southern Illinois University Carbondale <i class="fa fa-external-link"></i></a>, led by PI:
  <a href="https://alvi-ataur-khalil.github.io/" target="_blank">Alvi Ataur Khalil.<i class="fa fa-external-link"></i></a> The TITANS Lab is dedicated to advancing research in cybersecurity, blockchain systems, and artificial intelligence. Our mission is to design secure, scalable, and intelligent technologies that address real-world challenges. 

</p>

</p>
    </div>
  </div>

  <!-- Additional content below -->
  <div style="margin-top: 20px;">
    {{ content }}
  </div>
</div>

  <div id="newsid" class="col-sm-4" >
	{% include news.html %}
  </div>
